<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slots="start">
  		<ion-back-button defaultHref="/">
  		</ion-back-button>
  		<ion-title>Detalles</ion-title>
  	</ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item >
		<ion-label position="stacked">Codigo</ion-label>
		<ion-input [(ngModel)]="example.codigo"> </ion-input>
	</ion-item>

	<ion-item >
		<ion-label position="stacked">Nombre </ion-label>
		<ion-input [(ngModel)]="example.nombre"> </ion-input>
	</ion-item>
		<ion-item >
		<ion-label position="stacked">Categoria </ion-label>
		<ion-input [(ngModel)]="example.categoria"> </ion-input>
	</ion-item>

	<ion-item >
		<ion-label position="stacked">Descripcion </ion-label>
		<ion-input [(ngModel)]="example.descripcion"> </ion-input>
	</ion-item>
	<ion-item >
		<ion-label position="stacked">Precio </ion-label>
		<ion-input [(ngModel)]="example.pc"> </ion-input>
	</ion-item>

	<ion-footer *ngIf="!example.id">
		<ion-toolbar color="success">
			<ion-button expand="full" fill="clear" color="light" (click)="addExample()">
				<ion-icon name="checkmark" slot="start"></ion-icon>
				Agregar Producto
			</ion-button>
		</ion-toolbar>
	</ion-footer>
	<ion-footer *ngIf="example.id">
		<ion-row no-padding text-center>
			<ion-col size="6">
				<ion-button expand="block" fill="outline" color="danger" (click)="deleteExample()">
					<ion-icon name="trash" slot="start"></ion-icon>
					Borrar Producto
				</ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button expand="block" fill="solid" color="success" (click)="updateExample()">
					<ion-icon name="save" slot="start"></ion-icon>
					Actualizar Producto
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-footer>

</ion-content>
