<ion-header>
  <ion-toolbar color="primary">
  		<ion-buttons slots="start">
  		<ion-back-button defaultHref="/">
  		</ion-back-button>
  		    <ion-title>Login Admin</ion-title>
  	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
		<ion-item>
			<ion-label position="floating" color="primary">
				Correo
			</ion-label>
			<ion-input type="text" formControlName="email">
			</ion-input>
		</ion-item>
		<div class="validation-error">
			<ng-container *ngFor="let validation of validation_messages.email">
				<div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type)&&(validations_form.get('email').dirty||validations_form.get('email').touched)">
					{{validation.message}}
					
				</div>
			</ng-container>
		</div>

		<ion-item>
			<ion-label position="floating" color="primary">
				Contraseña
			</ion-label>
			<ion-input type="password" formControlName="password">
			</ion-input>

		</ion-item>
		<div class="validation-error">
			<ng-container *ngFor="let validation of validation_messages.password">
				<div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type)&&(validations_form.get('password').dirty||validations_form.get('password').touched)">
					{{validation.message}}
					
				</div>
			</ng-container>
		</div>
		<ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Iniciar Sesion
		</ion-button>
		<label class="error-message">
			{{errorMessage}}
		</label>

		
	</form>
</ion-content>
